:root {
	--breed-card-border-radius: 1em;
	--breed-card-bar-bg: rgba(204, 205, 205, 255);
	--breed-card-top-bg: rgba(231, 230, 231, 255);
	--breed-card-more-info-bg: rgba(239, 239, 238, 255);
	--breed-tools-radius: 1.25em;
	--breed-tools-bg: #d9d9d9;
	--breed-tools-height: 1.75em;
}

main:has(.content-breed.content-on-show) {
	overflow: hidden;
}

.content-breed {
	margin-top: var(--nav-bar-height);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	height: var(--content-height);
	width: 100vw;
	overflow: hidden;
}

.breed-tools {
	margin-top: 0.5em;
	position: relative;
	display: flex;
	gap: 2em;
}

.breed-tools-pannel {
	top: 120%;
	width: 100%;
	/* height: 10em; */
	position: absolute;
	padding: 1em;
	/* gap: 1em; */
	justify-content: flex-start;
	flex-direction: column;
	display: flex;
	z-index: 3;
	background-color: var(--breed-tools-bg);
	border-radius: var(--breed-card-border-radius);
}

.filter-selected {
	margin-bottom: 0.4em;
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	gap: 0.4em;
	height: max-content;
}

.breed-tools-pannel .text-sub-header {
	padding: 0.2em;
	font-size: 1em;
	background-color: rgb(240, 240, 240);
	border-radius: 0.5em;
	cursor: pointer;
}

.filter-selected .text-sub-header {
	background-color: rgb(172, 233, 190);
}

.filter-options {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	gap: 0.4em;
	height: max-content;
}

.breed-tools-pannel img {
	width: 1em;
}

.sort-pannel {
	top: 120%;
	right: 0;
	width: 100%;
	padding: 0.5em;
	position: absolute;
	display: flex;
	z-index: 3;
	gap: 0.5em;
	flex-direction: column;
	background-color: var(--breed-tools-bg);
	border-radius: var(--breed-card-border-radius);
	user-select: none;
	pointer-events: none;
}

.sort-pannel .sort-option {
	font-size: 1em;
	pointer-events: all;
}

.sort-pannel .sort-option span img {
	padding-top: 0.3em;
	max-width: 1em;
}

.sort-option {
	user-select: none;
	display: flex;
	align-items: center;
	background: rgb(240, 240, 240);
	border-radius: 0.5em;
}

.sort-option.sort-option-active {
	background-color: rgb(172, 233, 190);
}

.sort-pannel .sort-option.ascending span img:nth-child(1) {
	display: none !important;
}

.sort-pannel .sort-option.descending span img:nth-child(2) {
	display: none !important;
}

#breed-filter {
	position: relative;
	width: 7em;
	height: var(--breed-tools-height);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--breed-tools-radius);
	background: var(--breed-tools-bg);
	cursor: pointer;
	border: none;
	user-select: none;
}

#breed-filter-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: 1em;
	content: '';
	height: 65%;
	aspect-ratio: 1/1;
	background: url('../img/02_breed/filter_icon.png') no-repeat center
		center/contain;
}

#breed-filter-text {
	font-size: 1em;
	color: var(--text-color-light-black);
}

#breed-search {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 26em;
	height: var(--breed-tools-height);
}

#breed-search-icon {
	margin: auto 1em;
	height: 60%;
	aspect-ratio: 1/1;
	content: '';
	background-image: url('../img/02_breed/search_icon@2x.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

#breed-input {
	padding: 0em 1.5em;
	padding-right: 2.5em;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1em;
	flex-shrink: 0;
	border-radius: var(--breed-tools-radius);
	background: var(--breed-tools-bg);
	border: none;
}

#breed-sort {
	position: relative;
	width: 7em;
	height: var(--breed-tools-height);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--breed-tools-radius);
	background: var(--breed-tools-bg);
	cursor: pointer;
	border: none;
	user-select: none;
}

#breed-sort-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: 1em;
	content: '';
	height: 65%;
	aspect-ratio: 1/1;
	background: url('../img/02_breed/sort_icon.png') no-repeat center
		center/contain;
}

#breed-sort-text {
	font-size: 1em;
	color: var(--text-color-light-black);
}

.breed-loadmore {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.breed-loadmore-button {
	display: inline;
	font-size: 1.25em;
	color: white;
	background-color: var(--text-color-orange);
	padding: 0.1em 1em;
	border-radius: 5em;
	cursor: pointer;
	user-select: none;
}

.breed-loadmore-button:hover {
	opacity: 0.5;
}

@media (max-width: 600px) {
	.content-breed {
		margin-top: calc(var(--nav-bar-height) + 5em);
	}

	.breed-loadmore {
		bottom: 10em;
	}

	.breed-loadmore-button {
		font-size: 3em;
	}
}
